<!doctype html>
<html lang="en">    
<head> 
     <meta charset="UTF-8">   
     <title>去印了数万红包大派送！我已抢到红包咯，快来抢吧！</title> 
     <style>
         .img{text-align:center;margin:50px;}
     </style>
</head>    
<body>  
    <div class="img">
        <img usemap="#voucher_success" src="./images/voucher_success.jpg" style="position:relative">
        <map id="voucher_success" name="voucher_success">
            <area  shape="rect" coords="197,275,339,317," href="/" target="_blank">
            <area  shape="rect" coords="408,278,546,317," href="/index.php?act=member_voucher&op=index" target="_blank">
        </map> 
    </div>
</body>                                       
</html>